*{
    padding: 0; 
    margin: 0;
  }
  
  body{
   height: 100vh; 
   background: linear-gradient(
     to right, 
     rgb(250, 178, 214) 0%,
      rgb(250, 178, 214) 50%,
      rgb(91, 189, 245) 50%,
      rgb(91, 189, 245) 100%
  ); 
    
  }